<div>
    <!-- <div class="nav container-fluid">
        <div class="container">
            <div class="img-logo">
            </div>
             desktop search 
            <div class="search">
                <input class="" v-model="searchTxt" type="text" placeholder="search" v-on:keyup.enter="execute(type)">
                <button><span class="icon-search" @click="execute(type)"></span></button>
            </div>
        </div>
    </div> -->
    <div class="main-section container-fluid">
        <div class="container">
            
            <div class="row" >
                <!--search-->
                 <SearchFilter v-on:childToParent="execute"/> 
                <div v-if="list != null">
                    <VideosListing :item="item" v-for="item in list.items"/>
                </div>
                <!-- channel details -->
                <!-- <ChannelDetails/> -->
                <!-- <videoDetails/> -->
            </div>
        </div>
        
    </div>
</div>